<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-transparent">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">IIIT Bangalore IPM</a>
      </div>

      <div class="collapse navbar-collapse" id="navigation-example">
        <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-raised btn-primary btn-round" data-toggle="dropdown" aria-expanded="false">
          <%= current_user.name %>
          <b class="caret"></b>
          <div class="ripple-container"></div></a>
          	<ul class="dropdown-menu dropdown-menu-right">
              	<li class="dropdown-header">Profile Options</li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path %></li>
            </ul>
          </li>
        <% end %>
        </ul>
      </div>
  </div>
</nav>
