<a href="/pending">Pending IP's</a><br>
<a href="/reviewing">Reviewing IP's</a><br>
<a href="/accept">Accepted IP's</a><br>
<a href="/acceptedIP">Show All Accepted IP's</a><br>
<% if current_user.faculty and current_user.faculty.ip_committee == 1 %>
<a href="/reviewingIP">Show All Reviewing IP's</a><br>
<% end %>
