<h1><%= current_user.role %></h1>
<h1><%= current_user.email %></h1><br>
<%= current_user.id %><br>

<a href="/pending">Pending IP's</a><br>
<a href="/review">Reviewing IP's</a><br>
<a href="/accept">Accepted IP's</a><br>

<a href="/reviewingIP">Show All Reviewing IP's</a><br>
Total Number of IP's created :
<span><%= pluralize(current_user.ips.count, "IPs") %></span>
